<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="banner.css">
    
    <title>Refugio Bariloche</title>
</head>
<body>
    <header>       
        <nav class="nav-header" >
            <h1>Refugios Bariloche</h1>
            <ul>
                <li> <a href="">Inicio</a> </li>
                <li> <a href="">Nosotros</a> </li>
                <li> <a href="">Historia</a> </li>
                <li> <a href="">Contenido</a> </li>
                <li> <a href="">Otros</a> </li>
            </ul>

            <ul class="ul-login">
                <li> <a href="">Iniciar Sesion</a> </li>
                <li> <a href="">Registrarse</a> </li>
            </ul>
        </nav>

    </header>

    <section class="content-banner">
        

        <div class="container-refugios-grid">

        </div>
        <script src="main.js"></script>


    </section>


    <footer>
        <nav class="nav-footer">
            
            <script src="cargarFooter.js"></script>
        </nav>

    </footer>




    
</body>
</html>