<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="banner.css">
    
    <title>Refugio Bariloche</title>
</head>
<body>
    <header>       
        <nav class="nav-header" >
            <h1>Refugios Bariloche</h1>
            <ul>
                <li> <a href="">Inicio</a> </li>
                <li> <a href="">Nosotros</a> </li>
                <li> <a href="">Historia</a> </li>
                <li> <a href="">Contenido</a> </li>
                <li> <a href="">Otros</a> </li>
            </ul>

            <ul class="ul-login">
                <li> <a href="">Iniciar Sesion</a> </li>
                <li> <a href="">Registrarse</a> </li>
            </ul>
        </nav>

    </header>

    <section class="content-banner">
        

        <div class="container-refugios-grid">

        </div>
        <script src="main.js"></script>


    </section>


    <footer>
        <nav class="nav-footer">
            <div class="ul-nav-footer">
                <h3>Noticias</h3>
                <ul>
                    <li>Muerte en la picada</li>
                    <li>Cierre del sendero</li>
                    <li>Aumento de tarifa</li>
                    <li>enlace</li>
                </ul>
            </div>
            <div class="ul-nav-footer">
                <h3>Contacto</h3>
                <ul>
                    <li>refugios_bariloche@gmail.com</li>
                    <li>tel: 2944695847</li>
                    <li>Direccion: Avenida Argentina 1540</li>
                    <li></li>
                </ul>
            </div>
            <div class="ul-nav-footer">
                <h3>Ayuda</h3>
                <ul>
                    <li>enlace</li>
                    <li>enlace</li>
                    <li>enlace</li>
                    <li>enlace</li>
                </ul>
            </div>
        </nav>

    </footer>




    
</body>
</html>