<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="slide.css">
    <link rel="stylesheet" href="../style.css">

</head>
<body>
    <header> 

    </header>
    <div class="slide">
        <ul>
            <li id="slide-img1"></li>
            <li id="slide-img2"></li>
            <li id="slide-img3"></li>
        </ul>

    </div>
    <footer>
        <nav class="nav-footer">
            <div class="ul-nav-footer">
                <h3>Noticias</h3>
                <ul>
                    <li>enlace</li>
                    <li>enlace</li>
                    <li>enlace</li>
                    <li>enlace</li>
                </ul>
            </div>
            <div class="ul-nav-footer">
                <h3>contacto</h3>
                <ul>
                    <li>enlace</li>
                    <li>enlace</li>
                    <li>enlace</li>
                    <li>enlace</li>
                </ul>
            </div>
            <div class="ul-nav-footer">
                <h3>ayuda</h3>
                <ul>
                    <li>enlace</li>
                    <li>enlace</li>
                    <li>enlace</li>
                    <li>enlace</li>
                </ul>
            </div>
        </nav>

    </footer>

    
    
    <script src="cargarPagRefugio.js"></script>
    <script src="cargarNav.js"></script>


</body>
</html>